/* UVic WebDev Workshop 1
* January 2016
*/

/*Global Elements*/
.see-through {
    opacity: 0;
}
.opacity {
    opacity: 1;
    -webkit-animation: fadeup-delay 1.5s;
    -moz-animation: fadeup-delay 1.5s;
    animation: fadeup-delay 1.5s;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
/*Layout*/
header {
    padding: 50px 0;
    width: 100%;
    -webkit-animation: fadeup-delay 1.5s;
    -moz-animation: fadeup-delay 1.5s;
    animation: fadeup-delay 1.5s;
}
nav {
    padding: 0 10px;
}
.container {
    max-width: 960px;
    margin: auto;
}
.hero-container {
    margin: auto;
    width: 100%;
    -webkit-animation: fadeup 1.5s;
    -moz-animation: fadeup 1.5s;
    animation: fadeup 1.5s;
}
.images-container,
.hero-container {
    padding: 0 20px;
    max-width: 780px;
}
.images-container {
    -webkit-animation: fadeup-delay 1.5s;
    -moz-animation: fadeup-delay 1.5s;
    animation: fadeup-delay 1.5s;
}
/*Typography*/
h1 {
    padding: 100px 0;
    font-size: 2em;
    max-width: 550px;
}
a { 
    /*default is underline*/
    text-decoration: none;
    /*default is blue*/
    color: #000;
}
a:hover {
    text-decoration: line-through;
}
.images-container p {
    padding: 15px 0 100px 0;
    line-height: 1.8;
}
.images-container h2 {
    padding-top: 20px;
    font-size: 20px;
}
.images-container a {
    font-weight: 600;
    text-decoration: underline;
}
header a,
header span {
    letter-spacing: 1px;
    font-size: 1em;
    padding: 0 10px;
}
header span {
    color: #BDBDBD;
    font-weight: 300; 
}
/*Elements*/
img {
    width: 100%;
}
/*Flex*/
.flex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.flex-horizontal-center {
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
}
.flex-spread {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
}
.flex-start {
    align-self: flex-start;
    -moz-align-self: flex-start;
    -webkit-align-self: flex-start;
}
.flex-direction-col {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
}
/*Media Queries*/
@media (max-width: 750px) {
    header div:last-of-type {
        display: none;
    }
    header a {
        font-size: 14px;
    }
    h1 {
        font-size: 24px;
        line-height: 1.6;
        padding: 50px 0;
    }
    .images-container h2 {
        font-size: 18px;
        padding-top: 10px;
    }
    .images-container p {
        padding: 10px 0 50px 0;
    }
}
@media (max-width: 400px) { 
    h1 {
        font-size: 20px;
        padding: 20px 0 50px 0;
    }
    .images-container h2 {
        font-size: 16px;
    }
    .images-container,
    .hero-container {
        padding: 0 8px;
    }
    nav {
        padding: 0;
    }
}